---
layout: default
no-footer: true
---
<style>
a { color: black !important }
a * { color: black !important }
.edu li { margin-bottom: 1em }
</style>

<h2>Education</h2>
<ul class="edu">
  <li>
    University of Washington, PhD 2021
    <div> <i>Thesis:</i> Fast, Flexible Equality Saturation </div>
  </li>
  <li>
    Carnegie Mellon University, BS 2016
    <div> <i>Thesis:</i> Design and Implementation of Concurrent C0 </div>
  </li>
</ul>

<h2>Publications</h2>

<ul class="papers">
{% for paper in site.categories.papers %}
  {% include paper.html title=1 paper=paper elem="li" %}
{% endfor %}
</ul>
