{% capture title %}
{% if page.shorttitle %}
mwillsey | {{ page.shorttitle | strip_html | downcase }}
{% elsif page.title %}
mwillsey | {{ page.title | strip_html | downcase }}
{% else %}
mwillsey
{% endif %}
{% endcapture %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title> {{ title }} </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:title" content="{{ title }}" />
  <meta property="og:image" content="/assets/max.jpg" />
  <link rel="me" href="https://discuss.systems/@mwillsey">
  <link rel="stylesheet" href="/main.css">
  <script>
    let root = document.documentElement;
    let bg_hue = Math.floor(Math.random() * 360);
    function set_bg() {
      bg_hue = (bg_hue + 1) % 360;
      root.style.setProperty('--bg-h', bg_hue);
    }
    set_bg()
    setInterval(set_bg, 10 * 1000);
  </script>
</head>

<body>
  <nav>
    <div id="name">
      <a href="/">Max Willsey</a>
    </div>
    <div id="links">
      <a href="mailto:me@mwillsey.com">me@mwillsey.com</a>
      <a class="only-print" href="https://www.mwillsey.com">https://mwillsey.com</a>
      <a class="no-print" href="/blog">Blog</a>
      <a class="no-print" href="https://github.com/mwillsey">GitHub</a>
      <a class="no-print" href="https://twitter.com/mwillsey">Twitter</a>
      <a class="no-print" href="https://scholar.google.com/citations?user=zko9-RwAAAAJ&hl=en">Google Scholar</a>
      <a class="no-print" href="/cv.html">CV</a>
      {{ page.nav }}
    </div>
  </nav>
  <main>
    {{ content }}
  </main>

  {% if page.no-footer %}
  {% else %}
  <footer>
    Site last updated on {{ site.time | date: "%Y-%m-%d" }}.
    Edit me on <a href="https://github.com/mwillsey/mwillsey.github.io/">Github</a>.
  </footer>
  {% endif %}

  {% comment %}
  if you visit #skipgc then this browser will skip being counted
  {% endcomment %}
  <script>
    if (window.location.hash === '#skipgc')
      localStorage.setItem('skipgc', 't');
    if (localStorage.getItem('skipgc') === 't')
      window.goatcounter = { no_onload: true };
  </script>
  <script data-goatcounter="https://mwillsey.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
</body>

</html>